img {
  width: 200px;
  overflow-clip-margin: content-box;
}

li {
  list-style-type: none;
}

.about-me {
  width: 200px;
  padding: 1em;
  background-color: white;
  margin: 20px;
}

.nav {
  position: fixed;
  background-color: white;
}

.name {
  padding: 60px;
}

.bio {
  width: 200px;
  padding: 1em;
  background-color: white;
  margin: 20px;
}

.Projects {
  width: 200px;
  padding: 1em;
  background-color: white;
  margin: 20px;
}

section {
  display: block;
}
