body {
  background-color: blue;
}

h1 {
  margin: 0;
}

h2 {
  background-color: yellow;
  z-index: 2;
  width: 300px;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  position: fixed;
}

.container-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: beige;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}

nav li {
  margin-left: 2em;
}

img {
  width: 200px;
}

nav a:hover,
nav a:focus {
  color: crimson;
}

.about-me {
  width: 200px;
  padding: 1em;
  background-color: white;
  margin: 20px;
}

.name {
  padding: 60px;
}

.bio {
  width: 200px;
  padding: 1em;
  background-color: white;
  margin: 20px;
}

.Projects {
  width: 200px;
  padding: 1em;
  background-color: white;
  margin: 20px;
}

section {
  display: block;
}

h2:nth-child(even) {
  background-color: darkgreen;
}
